<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css :: header('行政区域')"></head>
<body>
<div id="main" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-10 no-padding">
			<div class="panel panel-default">
				<div class="panel-heading">车辆信息</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 form-inline pull-left">
							<div class="form-group">
						    	<input v-model="keyword" @keyup.enter="load" class="form-control" placeholder="请输入车牌" style="width: 220px;" />
							</div>
							<div class="form-group">
							    <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="btn-toolbar pull-right">
								<div class="btn-group">
						            <a  class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
						            <a  class="btn btn-default" @click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
						            <a  class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
						            <a  class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
						        </div>
						        <div class="btn-group">
						        	<a  class="btn btn-default" @click="relativeCustomer();"><i class="fa fa-gavel"></i>&nbsp;关联车主</a>
						        </div>
					        </div>
						</div>
					</div>
					<div class="row">
						<table id="dataGrid"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div th:include="include/footer_js :: footer"></div>
<script th:src="@{/js/base/car/list.js}"></script>
</body>
</html>