<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css :: header('行政区域')"></head>
<body>
<div id="main" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-10 no-padding">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 form-inline pull-left">
							<div class="form-group">
						    	<input v-model="keyword" @keyup.enter="load" class="form-control" placeholder="请输入查询关键字" style="width: 220px;" />
							</div>
							<div class="form-group">
							    <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
							</div>
						</div>
					</div>
					<div class="row">
						<table id="dataGrid"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div th:include="include/footer_js :: footer"></div>
<script th:src="@{/js/base/car/relativeCustomer.js}"></script>
</body>
</html>