<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.web.mapper.ChechenCustomerCarMapper" >
  <resultMap id="BaseResultMap" type="com.car.web.model.ChechenCustomerCar" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customerId" property="customerid" jdbcType="BIGINT" />
    <result column="carId" property="carid" jdbcType="BIGINT" />
    <result column="deFlag" property="deflag" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
  </resultMap>
</mapper>